.sidebar{
    position:fixed;
    top:80px;
    left:0;
    bottom:0;
    width:100px;
    background-color:white;
    z-index:200;
}
.sidebar-link{
    

    height:108px;
    
    display:flex;
    justify-content:center;

    align-items:center;
    flex-direction:column;
    cursor:pointer;
    
    
}
.sidebar-link:hover{
    background-color:rgb(227, 225, 225);
}
.sidebar img{
    height:30px;
    margin-bottom:8px;
}
.sidebar div{
    font-family:Roboto,Arial;
    font-size:11px;
}